body {
  font-family: "Helvetica", sans-serif;
  background-color: rgb(59, 74, 104);
  font-size: 20px;
  text-align: center;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a,
h1,
h2 {
  color: rgb(255, 255, 255);
}

form {
}

.heading {
  font-weight: bold;
}

.page {
  margin: 0.1em auto;
  padding: 0.1em;
  width: 504px;
}

input[type="text"] {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 12px;
  color: #777;
  width: 200px;
}

input[type="textarea"] {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 12px;
  color: #777;
  width: 200px;
}
