{% extends "base.html" %} {% block content %}
<div class="heading w-auto">
  <h2 class="my-5 text-6xl">Games Look Up!</h2>
  <p class="mb-5 max-w-2xl px-4">
    This website will display video games with a name as closely matched as the
    you provide, in the order of which they were released.<br /><br />
    <b><u>NOTE:</u> The search IS NOT PERFECT</b>, and is still a work in
    progress. You might have games listed that do not relate to your search at
    all appear in your results.
  </p>
  <form action="/" method="POST" id="game_search_form" autocomplete="off">
    <div class="text-3xl">Game name:</div>
    <p>
      <input
        class="border-black border-2 rounded-md"
        type="text"
        name="game_name"
        id="game_name"
        required
      />
    </p>
    <p>
      <input
        class="border-[bisque] border-2 bg-gray-800 rounded-lg px-5 py-1 border-solid"
        type="submit"
        value="Go!"
      />
    </p>
  </form>
</div>

<ul class="flex flex-col mx-auto px-20 pt-5 max-w-6xl">
  {%if games %}
  <h1 class="text-4xl text-center pt-5 underline">Results</h1>
  {% for game in games %}
  <li class="text-[blanchedalmond]">
    <h3 class="font-bold text-xl text-center my-4">{{game["name"]}}</h3>
    <div class="m-4 flex">
      <div class="ml-4 max-w-[260px]">
        <p class="font-bold text-lg underline text-[blanchedalmond]">
          Release Date:
        </p>
        <p class="ml-2 text-[bisque]">{{game["first_release_date"]}}</p>
        <p class="font-bold text-lg underline text-[blanchedalmond]">
          Critics Score:
        </p>
        {% if game["aggregated_rating"] %}
        <p class="ml-2 text-[bisque]">
          {{game["aggregated_rating"]}} out of 100
        </p>
        {% else %}
        <div class="max-w-[150px]">
          <p class="font-bold text-lg text-purple-400 pl-2">
            Critic reviews missing from IGDB
          </p>
        </div>
        {% endif %}
        <p class="font-bold text-lg underline text-[blanchedalmond]">
          Available Platforms:
        </p>
        {% for platform in game["platforms"] %}
        <p class="ml-2 text-[bisque]">{{platform["name"]}}</p>
        {% endfor %}
        <p class="font-bold text-lg underline text-[blanchedalmond] mb-2">
          ESRB Rating:
        </p>
        {% if game["age_ratings"] and game["age_ratings"]|length > 0 %} {% for
        age_rating in game["age_ratings"] %}
        <img class="ml-2" src='{{age_rating["rating"]}}' />
        {% endfor %} {% else %}
        <div class="max-w-[150px]">
          <p class="font-bold text-lg text-purple-400 ml-2">
            ESRB rating missing from IGDB
          </p>
        </div>
        {% endif %}
      </div>
      <div class="ml-10 flex flex-col">
        <p class="font-bold text-lg underline text-[blanchedalmond] mb-2">
          Cover Art:
        </p>
        <img class="pl-2 w-auto max-h-96" src='{{game["cover"]["url"]}}' />
      </div>
    </div>
  </li>
  {% endfor %} {% else %}
  <br />
  {%endif%}
</ul>
{% endblock content%}
